<div class="redirection">
    <b>THERE IS ALREADY AN ACTIVE ADMINISTRATOR IN THIS SECTION</b>
</div>
<script
  src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.24/dist/sweetalert2.all.min.js"
></script>
<script src="/js/Admins.js"></script>