<header></header>
<div class="bienvenida">
  <b>BIENVENIDO A DELIPASO</b>
</div>
<div class="check">
  <input type="checkbox" class="form-check-input" id="check" />
  <label class="form-check-label" for="check">Recordar</label>
</div>
<div class="contain-fondo">
  <div>
    <img src="css/foodleft.jpeg" />
  </div>
  <div>
    <img src="css/foodright.jpeg" />
  </div>
</div>
