<div class="login">
  <div class="login__container">
    <div class="login__container__form">
      <div class="login__form--title">
        <b>LOGIN DELIPASO</b>
      </div>
      <div class="login__form--contain">
        <form method="POST" action="#" name="form">
          <ul>
            <li>
              <div class="login__form__input">
                <label for="usuario" class="login--label">User</label>
                <input
                class="login--input"
                type="text"
                placeholder="Enter user"
                required
              />
              </div>
            </li>
            <li>
              <div class="login__form__input">
                <label for="password" class="login--label">Password</label>
                <input
                class="login--input"
                type="password"
                placeholder="Enter Password"
                required
              />
              </div>
            </li>
          </ul>
          <div class="login__checkBox">
                <input type="checkbox" class="form-check-input"/>
                <label>Remind me</label>
          </div>
          <div class="login__inputBox">
            <div class="login__action">
              <button type="submit" class="btnSignUp">
                REGISTER
              </button>
              <button type="button" class="btnLogin">
                ENTER
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--<div>
  <div class="chat-container">

    <input type="text" placeholder="Username" name="username" id="username" />

    <input
      type="password"
      placeholder="Password"
      name="password"
      id="password"
    />
    <button id="login">Enviar</button>

  </div>

</div>-->

<!-- Compiled and minified JavaScript -->
<script
  src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.24/dist/sweetalert2.all.min.js"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
></script>
<script src="/js/index.js"></script>
<script src="/js/login.js"></script>